html,body, div, span, form,iframe,
h1, h2, h3, h4, h5, p, em, img, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{height: 100%;font-size: 62.5%;}
body {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  font-family: Helvetica, 'STXihei', 'STHeiti Light', 'Microsoft yahei', sans-serif;
  line-height: 1;
  background-color: #f5f5f5;
}
body.white_body{background-color: #fff;}
body.black_body{background-color: #000;}

.wrapper{
  min-height: 100%;
  margin-bottom: -30px;
  padding-bottom: 30px;
  padding-top: 50px;
  box-sizing: border-box;
}


input {
  margin: 0;
  padding: 0;
  /*-webkit-appearance: none;*/
  border-style: none;
}

input {
  outline-style: none;
}

input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="button"] {
  -webkit-appearance: none;
}
input[type="submit"] {
  -webkit-appearance: none;
}
ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-webkit-input-placeholder {
color: #D6D0CA !important; 
}
input:-moz-placeholder {
color: #D6D0CA !important; 
}
input::-moz-placeholder {
color: #D6D0CA !important; 
}
input:-ms-input-placeholder {
color: #D6D0CA !important; 
}
textarea::-webkit-input-placeholder {
color: #000 !important; 
}
textarea:-moz-placeholder {
color: #000 !important; 
}
textarea::-moz-placeholder {
color: #000 !important; 
}
textarea:-ms-input-placeholder {
color: #000 !important; 
}
/*
a:link,
a:visited {
  text-decoration: none;
  color: #555555;
}*/
a {
  text-decoration: none;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: "\0020";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.shadow {
  -webkit-box-shadow: 1px 0px 3px #d9dbdd;
     -moz-box-shadow: 0px 1px 3px #d9dbdd;
          box-shadow: 0px 1px 3px #d9dbdd;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
.display-flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;  
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.scratcher_wrap{
  width: 100%;
  height: 100%;
}
.top_bar{
  height: 50px;
  background: #000204;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.top_bar .logo{
  width: 97px;
  height: 50px;
  margin: 0 auto;
  background: url(../img/logo.png) no-repeat center center;
  background-size: 97px 33px;
}
.top_bar .menu_btn{
  float: left;
  height: 50px;
  width: 60px;
  background: url(../img/menu_icon.png) no-repeat center center;
  background-size: 22px 16px;
}
.top_bar .search_a{
  float: right;
  height: 50px;
  width: 60px;
  text-indent: -99999px;
  background: url(../img/menu_search.png) no-repeat center center;
  background-size: 22px 21px;
}
.nav_list_wrap{
  position: absolute;
  top: -600px;
  left: 0;
  background: #000;
  width: 100%;
  z-index: 20;
}
.nav_list{
  padding:0 40px;
  padding-top: 50px;
  padding-bottom: 60px;
  background: #000;
  color: #fff;
}
.nav_list .nav_item{
  height: 43px;
  line-height: 43px;
  border-bottom: 1px #333 solid;
  font-size: 1.8rem;
  padding-left: 30px;
  background: url(../img/navbar_icon.png) no-repeat;
  background-size: 19px 189px;
}
.nav_list .nav_item a{
  color: #fff;
  text-decoration: none;
}
.nav_list .nav_item#home{
  background-position: 0 14px;
}
.nav_list .nav_item#news{
  background-position: 0 -29px;
}
.nav_list .nav_item#video{
  background-position: 0 -73px;
}
.nav_list .nav_item#game{
  background-position: 0 -115px;
}
.nav_list .nav_item#contact{
  background-position: 0 -159px;
}
.nav_close{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: url(../img/close_icon.png) no-repeat center center;
  background-size: 13px 13px;
  z-index: 21;
}
.nav_tree{
  height: 43px;
  padding: 0 18px;
}
.nav_text{
  height: 43px;
  line-height: 43px;
  font-size: 1.6rem;
  color: #cf0f32;
}
.nav_text a{
  color: #cf0f32;
  text-decoration: none;
}
.nav_child{
  margin-left: 8px;
  padding-left: 14px;
  background: url(../img/nav_icon.png) no-repeat center left;
  background-size: 6px 10px;
  color: #999;
}
footer{
  line-height: 30px;
  text-align: center;
  color: #888888;
  font-size: 10px;
  background: #000;
}

/* 视频列表.start */
.videoList_main{overflow: hidden;}
.videoList_main .videoList_main_item{
  position: relative;
  width: 50%;
  float: left;
  padding: 15px 0;
}
.videoList_main_image{
  display: block;
  margin: 0 auto;
  width: 93%;
  border-radius: 5px;
}
.videoList_main_img_box:after{
  position: absolute;
  left: 50%;
  top: 50%;
  content: '';
  height: 39px;
  width: 39px;
  background: url(../img/video_play_small.png) no-repeat 0 0;
  background-size: 39px 39px;
  margin-left: -17px;
  margin-top: -21px;
}
.videoList_main_img_box{
  position: relative;
}
.videoList_main_img_box:before{
  position: absolute;
  left: 50%;
  content: '';
  height: 100%;
  width: 100%;
  margin: 0 auto;
  width: 93%;
  background: red;
  margin-left: -46.5%;
  border-radius: 5px;

  background-color:#000609;
  filter:alpha(opacity=20); 
  -moz-opacity:0.2; 
  opacity:0.2;


}
.videoList_main_txt{
  color: #222;
  font-size: 1.4rem;
  line-height: 1.5rem;
  padding: 0 4%;
  margin: 6px 0;
}
/* 视频列表.end */

.video_detail{position: relative;display: block;}
.video_detail img{width: 100%;display: block;}
.video_play{width: 53px;height: 53px;display: block;background: url(../img/video_play.png) no-repeat center center;background-size: 100% 100%;position: absolute;top: 50%;left: 50%;margin: -26px 0 0 -26px;}
.duration{line-height: 22px;position: absolute;bottom: 0;right: 0;padding: 0 6px;color: #fff;background: url(../img/black_bg.png) repeat 0 0;}
.video_article{padding: 10px;}
.video_article > h1{font-size: 18px;color: #222222;line-height: 27px;}
.subtitle{font-size: 12px;color: #a0a0a0;display: block;}
.comment{padding: 10px;}
.comment_title{font-size: 18px;color: #000000;border-left: 5px solid #cf0f32;margin: 0 0 15px -10px;text-indent: 7px;}
.comment_btn{width: 90px;float: right;line-height: 64px;background: #000;color: #fff;text-align: center;font-size: 18px;}
.comment_not_login{height: 52px;display: block;margin-right: 90px;border: 1px solid #acacac;border-right: none;border-radius: 5px 0 0 5px;box-shadow: 0 0 2px #acacac inset;text-align: center;line-height: 52px;font-size: 16px;color: #9b9b9b;padding: 5px;}
.comment_not_login textarea{border: none;width: 100%;padding: 0;height: 100%;resize: none;border-radius: 5px;}
.comment_not_login a{color: #cf0f32;}
.comments{}
.logged_avatar{width: 30px;border-radius: 50%;float: left;}
.logged_username{margin: 0 90px 5px 40px;line-height: 30px;display: block;color: #0e0e0e;font-size: 14px;}
.logout{float: right;line-height: 30px;color: #999999;font-size: 14px;}
.comments li{padding: 10px 0 10px 40px;border-bottom: 1px solid #e5e5e5;}
.no_avatar .comments li{padding-left: 0;}
.reply_a{color: #cf0f32;}
.reply_box{padding-top: 8px;text-align: right;position: relative;display: none;}
.reply_box.show{display: block;}
.reply_box::before{
  content: '';
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  margin: -4px 0 0 20px;
  position: absolute;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #ededed transparent;}
.reply_box textarea{width: 100%;height: 60px;background: #ededed;border: none;padding: 5px;box-sizing: border-box;resize: none;border-radius: 2px;}
.reply_box input[type="button"]{line-height: 26px;background: #cf0f32;color: #fff;padding: 0 20px;font-size: 14px;border-radius: 2px;margin: 5px 0;}
.reply_box input[type="button"].loading{background: #bbb;}
.reply_box input[type="button"].reply_cancel{background: #bbbbbb;}
.more_comments{display: block;text-align: right;background: url(../img/apply_arrow.png) no-repeat right center;background-size: 15px 15px;padding-right: 20px;line-height: 20px;margin: 10px 0 0;color: #000;font-size: 14px;}
.comments_box{background: #f5f5f5;margin-left: 15px;padding: 0 5px;font-size: 12px;overflow: hidden;}
.comments_box p{margin: 3px 0;}
.comments_box p:nth-child(2) ~ p{display: none;}
.comments_box.show p:nth-child(2) ~ p{display: block;}
.comments_box a.hide_comments,
.comments_box.show a.show_comments{display: none;}
.comments_box.show a.hide_comments{display: block;}
.comments_box a{color: #cf0f32;}
.comments_box > a{display: block;margin: 5px 0;}
.avatar{width: 30px;height: 30px;float: left;margin-left: -40px;display: block;border-radius: 50%;}
.username{color: #888888;font-size: 15px;line-height: 26px;}
.comment li p{color: #222222;font-size: 14px;line-height: 20px;}
.like{float: right;line-height: 15px;background: url(../img/like.png) no-repeat 0 center;background-size: 15px auto;padding: 3px 0 0 20px;line-height: 20px;display: block;font-size: 12px;color: #999;}
.comment_date{padding: 3px 0 0 0;color: #999;font-size: 12px;display: block;line-height: 20px;}
.count_all{float: right;color: #02070a;font-size: 12px;line-height: 32px;margin-right: 10px;}
.pgn{overflow: hidden;margin: 0 0 10px 10px;}
.pgn > *{min-width: 30px;display: block;float: left;line-height: 30px;text-align: center;border: 1px solid #fff;}
.pgn a{border-color: #dbdbdb;color: #02070a;}
.pgn a + a{border-left: none;}
.pgn a.prev,
.pgn a.next{border-color: #fff;text-indent: -99999px;background: url(../img/nav_icon.png) no-repeat center center;background-size: 6px 10px;}
.pgn a.prev{background-image: url(../img/nav_icon_left.png);}
.pgn a.next{background-position: 5px center;}
.pgn strong{border-color: #000;background: #000;color: #fff;}
.pgn strong + a{border-left: none;}

.game_detail_tabs{padding: 0 10px;}
.game_detail_tabs a{text-align: center;font-size: 15px;white-space: nowrap;display: inline-block;color: #000204;border-bottom: 3px solid #000204;line-height: 38px;position: relative;}
.game_detail_tabs a:first-child{flex: 0.65;}
.game_detail_tabs a:first-child + a{flex: 1.35;}
.game_detail_tabs a:focus{border-bottom-color: #cf0f32;}
.game_detail_tabs a::before{content: '';width: 1px;height: 20px;background: #c9c9c9;position: absolute;left: 0;margin-top: 8px;}
.game_detail_tabs a:first-child::before{display: none;}
.game_detail_text{color: #555555;font-size: 14px;line-height: 22px;padding: 0 10px;}
.game_detail_text p{margin: 10px 0;text-indent: 24px;}
.game_detail_text img{max-width: 100%;display: block;margin: 10px auto;}
.game_detail_text .comment_title{margin: 15px 0 10px -10px;}
.game_detail_img li:first-child + li{padding: 0 5px;}
.game_detail_img li img{width: 100%;}

.main{position: relative;}
.swipe {overflow: hidden;visibility: hidden;position: relative;margin-bottom: 18px;}
.swipe-wrap {overflow: hidden;position: relative;}
.swipe-wrap > div {float:left;width:100%;position: relative;}
.swipe-wrap .wrap{}
.swipe_img{position: relative;}
.swipe_img.recommend_swipe{margin-bottom: 0;}
.swipe_imgs{display: block; width: 100%;height: 100%;}
.img_index{width: 100%;position: absolute;bottom: 5px;text-align: center;}
.img_index #position{width: 100%;}
.img_index #position li{display: inline-block;width: 6px;height: 6px;border-radius: 6px;background: #FFF;margin: 0 1px;cursor: pointer;}
.img_index #position li.on{background: #cf0f32;box-shadow: 0 0 3px #fff, 0 0 3px #fff;}
.recommend_swipe .img_index #position{width: auto;float: right;margin: 8px 10px 0 0;}
.recommend_swipe .img_index{background: url(../img/swipe_bg.png) repeat 0 0;margin: 0 0 -5px;}
.recommend_swipe .img_index > span{float: left;line-height: 30px;display: inline-block;color: #fff;padding-left: 20px;}
.main_wrap{
  /*margin-top: 18px;*/
}
.main_wrap .wrap_title{
  height: 20px;
  line-height: 20px;
  font-size: 1.6rem;
  background: #fff;
  border-left: 5px #cf0f32 solid;
  padding-left: 9px;
  position: relative;
}
.main_wrap .wrap_title .small_title{
  font-size: 1.2rem;
}
.main_wrap .wrap_title .more{
  position: absolute;
  top: 0;
  right: 9px;
  font-size: 1.4rem;
  padding-right: 14px;
  background: url(../img/more_icon.png) no-repeat center right;
    background-size: 7px 11px;
}
.main_wrap .wrap_title .more a{
  color: #000;
  text-decoration: none;
}
.wrap_body{
  padding:11px 9px 16px 9px;
  overflow: hidden;
}
.recomond_video{
  position: relative;
  border-radius: 4px;
}
.recomond_video_img{
  width: 100%;
}
.video_play_btn{
  width: 39px;
  height: 39px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -20px;
  background: url(../img/video_play_small.png) no-repeat center center;
    background-size: 39px 39px;
}
.hotnews_list{
  font-size: 1.6rem;
  line-height: 18px;
}
.hotnews_list .hotnews_item{
  line-height: 24px;
  border-bottom: 1px #ececec solid;
  padding:4px 0;
  position: relative;
}
.hotnews_list .hotnews_item a{
  color: #222222;
  text-decoration: none;
}
.hotnews_list .hotnews_item b{
  font-size: 2.4rem;
  color: #dbdbdb;
  position: absolute;
  display: block;
  top: 4px;
  left: 0;
}
.sns_list{

}
.sns_list .sns_item .sns_icon{
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin:0 auto;
}
.sns_list .sns_item #sns_wechat{
  background: #62c950 url(../img/sns_icon.png) no-repeat;
  background-size: 55px 372px;
  background-position: center -94px;
}
.sns_list .sns_item #sns_qq{
  background: #129bdc url(../img/sns_icon.png) no-repeat;
  background-size: 55px 372px;
  background-position: center 12px;
}
.sns_list .sns_item #sns_weibo{
  background: #ee4051 url(../img/sns_icon.png) no-repeat;
  background-size: 55px 372px;
  background-position: center -202px;
}
.sns_list .sns_item #sns_tieba{
  background: #397ee5 url(../img/sns_icon.png) no-repeat;
  background-size: 55px 372px;
  background-position: center -312px;
}

.news_main{
  padding: 0 8px;
  background: #fff;
}
.news_item{
  padding:10px 0;
  border-bottom: 1px #ededed solid;
  overflow: hidden;
  zoom:1;
}
.news_item a{
  display: block;
  overflow: hidden;
}
.news_item .news_img{
  float: left;
  border:2px #efefef solid;
  width: 30%;
  margin-right: 9px;
}
.news_info{
  float: left;
  width: 64%;
}
.news_info div{
  width: 100%;
}
.news_info div.news_title{
  font-size: 1.5rem;
  line-height: 18px;
}
.news_info div.news_text{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #959595;
  width: 86%;
  line-height: 30px;
  font-size: 1.2rem;
}
.news_info div.news_time{
  text-align: right;
  color: #959595;
  font-size: 1.2rem;
}
.news_body{
  padding:0 9px;
}
.news_body .news_main{
  border-top: 1px #ececec solid;
  padding-top: 10px;
}
.news_main .news_title{
  font-size: 1.8rem;
  line-height: 24px;
  color: #222222;
}
.news_main .news_source_time{
  position: relative;
  color: #999999;
  line-height: 20px;
  height: 20px;
}
.news_main .news_source_time .news_source{
  position: absolute;
  left: 0;
}
.news_main .news_source_time .news_time{
  position: absolute;
  right: 0;
}
.news_text{
  margin-top: 4px;
  font-size: 1.4rem;
  line-height: 24px;
}
.news_text p{
  text-indent: 24px;
}
.news_text .news_img{
  width: 100%;
}
/* 联系我们 .start */
.contact_top{
  padding: 15px 0;
}
.contact_icon{
  /*width: */
  margin: 0 auto;
  width: 185px;
  height: 185px;
  background: url('../img/contact_icon.png') no-repeat 0px 0px;
  background-size: 200px 250px;

}
.contact_main{
  padding: 0 18px;
  color: #000204;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-indent: 30px;
}
.contact_tag{
  height: 29px;
  line-height: 29px;
  background: #000204;
  font-size: 1.6rem;
  color: #fff;
  padding: 0 21px;
  display: inline-block;
  border-radius: 20px;
  margin: 22px 0 0 18px;
}
.contact_tag_detail{
  font-size: 1.6rem;
  padding: 10px 0;

}
.contact_tag_detail>a,
.contact_tag_detail>div{
  padding-left: 43px;
  height: 29px;
  line-height: 29px;
  color: #000;
  display: block;
}
.contact_tag_mail{
  background: url('../img/contact_icon.png') no-repeat 20px -227px;
  background-size: 200px 250px;
}
.contact_tag_wx{
  background: url('../img/contact_icon.png') no-repeat 20px -190px;
  background-size: 200px 250px;
}
/* 联系我们 .end */

/* 视频list .start */
.videoList_top{
  height: 40px;
  line-height: 40px;
  background: #333333;
  color: #c0c0c0;
  font-size: 1.4rem;
  padding-left: 51px;
  border-top: 1px solid #676767;
}
.videoList_top .left{
  position: absolute;
  left: 24px;
  color: #6e6e6e;
}
.videoList_top>div{
  position: relative;
  text-align: center;
}
.videoList_top>div>a,
.videoList_top>div>span{
  padding: 5px;
  border-radius: 5px;
  color: #c0c0c0;
}
.videoList_top>div .active{
  background: #1a1a1a;
}
.videoList_top .border:after,.videoList_top .border:before{
  content: '';
  /*z-index: 11111;*/
  position: absolute;
  top: 10px;
  left: 0px;
  height: 20px;
  width: 1px;
  background: #3b3b3b;
  border-left: 1px solid #202020;

}
.videoList_top .border:after{
  position: absolute;
  top: 10px;
  right: 0px;
  left: auto;
}
/* 视频list .end */

/*游戏*/
.game_list_item{
  display: block;
  margin: 0 10px 10px 10px;
}
.game_list_item{
  background: #000204;
}
.game_list_img{
  width: 100%;
}
.game_list_title{
  padding: 11px 15px;
  font-size: 1.8rem;
  color: #fff;
}
.game_list_tag{
  padding: 0 15px;
}
.game_list_tag span{
  padding: 3px 6px;
  font-size:1.3rem;
  color: #fff;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 3px;
  margin: 3px;

}
.game_list_item_bo{
  color: #fff;
  height: 48px;
  line-height: 48px;
  font-size: 1.5rem;
  padding-right: 10px;
}
.game_list_tag_price{
  font-size: 3rem;
  float: left!important;
  color: #eb173e;
  margin-left: 15px;
}
.game_list_item_bo span{
  /*display: inline-block;*/
  float: right;
}
.game_list_tag_zan{
  padding-left: 25px;
  background: url(../img/game_list_icon.png) no-repeat 6px 17px;
  background-size: 20px 60px;
}
.game_list_tag_wx{
  padding-left: 25px;
  background: url(../img/game_list_icon.png) no-repeat 4px -28px;
  background-size: 20px 60px;
}

/******************
@ navigation page
******************/
.nav_box{
  padding: 0 10px 4px;
  background: #f5f5f5;}
  .nav_box h2{
    color: #000;
    font-size: 16px;
    margin: 0 -10px 8px;
    line-height: 40px;
    text-indent: 16px;
    background: #ffcb2d;}
  .nav_box span{
    color: #999999;
    display: inline-block;
    margin: 15px 3px 3px;
    font-size: 14px;}
  .nav_box a{
    color: #666666;
    font-size: 14px;
    line-height: 25px;
    padding: 0 10px;
    margin: 6px 3px;
    border-radius: 3px;
    display: inline-block;
    background: #ececec;}
    .nav_box a.current,
    .nav_box a:focus{
      color: #fff;
      background: #000204;}


/******************
@ login page
******************/
.login_wrap{
  background: #f5f5f5;
  padding: 0 9px 20px;}
  .login_wrap h1{
    font-size: 19px;
    text-align: center;
    line-height: 72px;}
  .login_wrap input[type="text"],
  .login_wrap input[type="password"]{
    width: 100%;
    line-height: 40px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    margin: 0 0 8px;
    text-indent: 10px;
    font-size: 16px;}
  .btn_red{
    width: 100%;
    font-size: 16px;
    border-radius: 3px;
    line-height: 40px;
    background: #d22727;
    color: #fff;
    text-align: center;
    margin: 20px 0 13px;}
  .login_wrap a{
    color: #297dcc;
    font-size: 16px;}
    .login_wrap a.right_a{float: right;}
  .sns_wrap{text-align: center;}
    .sns_wrap h1{
      height: 35px;
      color: #333333;
      font-size: 16px;
      text-align: center;
      border-bottom: 1px solid #d7d7d7;}
      .sns_wrap h1 span{
        padding: 0 20px;
        background: #f5f5f5;}
    .sns_wrap a{
      width: 80px;
      height: 80px;
      margin: 30px 3%;
      display: inline-block;
      text-indent: -99999px;
      background: url(../img/sns_icons.png) no-repeat 0 center;
      background-size: 340px 79px;}
      .sns_wrap a.sns_qq{background-position: center center;}
      .sns_wrap a.sns_weibo{background-position: right center;}
      .login_wrap input[type="text"].code{
        width: 60%;
        float: left;
        display: block;
        border-right: none;
        border-radius: 3px 0 0 3px;}
      .code_img{
        height: 40px;
        margin-left: 60%;
        padding-right: 32px;
        text-align: center;
        background: #fff url(../img/reload.png) no-repeat right center;
        background-size: 32px 19px;
        border: 1px solid #d9d9d9;
        border-radius: 0 3px 3px 0;}
        .code_img img{
          width: 72px;}
  .login_qq h1{text-align: left;}
  .login_qq h2{
    line-height: 20px;
    color: #888888;
    font-size: 14px;
    margin: -10px 0 15px;}

nav{
  overflow: hidden;
  padding: 10px 0;
  background: #333333;}
  nav a{
    width: 20%;
    line-height: 22px;
    display: block;
    float: left;
    margin-left: -2px;
    color: #c0c0c0;
    font-size: 14px;
    text-align: center;
    border-left: 1px solid #404040;
    border-right: 1px solid #282828;}
    nav a.current{
      color: #ffcb2d;
      font-size: 16px;}

/******************
@ game recommend page
******************/
.recommend{
  background: #000;
  padding: 10px 10px 1px;}
  .recommend li{
    padding: 10px 10px 0;
    margin-bottom: 10px;
    background: #232323;
    position: relative;}
    .recommend li::after{
      content: '';
      width: 100%;
      height: 0;
      display: block;
      clear: both;}
    .recommend li:last-child{margin-bottom: 0;}
    .recommend_corner{
      width: 46px;
      height: 17px;
      padding-top: 9px;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      z-index: 2;
      text-indent: 8px;
      margin: 5px 0 0 -3px;
      background: url(../img/recommend_corner.png) no-repeat 0 0;
      background-size: 46px 26px;}
    .score_box{
      width: 70px;
      float: right;
      font-size: 12px;
      color: #fff;
      padding-top: 5px;
      text-align: center;
      background: #00ac01;}
      .score_box.news{background: #ff051a;}
      .score_box.yellow{background: #ff990b;}
      .score_box.red{background: #9b0e07;}
      .score_box strong{
        line-height: 40px;
        font-size: 40px;}
      .score_box.news strong{font-size: 20px;}
      .score_box span{
        line-height: 22px;
        display: block;
        font-size: 14px;
        color: #000;
        margin-top: 5px;
        background: #fff;}
    .img_wrap{
      height: 73px;
      display: block;
      overflow: hidden;
      margin-right: 84px;
      position: relative;}
      .img_wrap .date{
        left: 0;
        bottom: 0;
        position: absolute;
        color: #fff;
        padding: 3px;
        font-size: 10px;
        background: url(../img/swipe_bg.png) repeat 0 0, url(../img/swipe_bg.png) repeat 0 0;}
      .img_wrap img{
        /*max-width: 100%;*/
        height: 100%;
        display: block;}
    .recommend_text{
      line-height: 30px;
      float: left;
      color: #fff;}
    .recommend_icons{
      float: right;
      line-height: 30px;}
      .recommend_icons a{
        width: 15px;
        height: 30px;
        display: block;
        float: left;
        margin: 0 0 0 6px;
        text-indent: -99999px;
        background: url(../img/recommend_icons.png) no-repeat 0 center;
        background-size: 92px 15px;}
        .recommend_icons a.recommend_xbox{background-position: 1px center;}
        .recommend_icons a.recommend_windows{background-position: -19px center;}
        .recommend_icons a.recommend_ios{background-position: -38px center;}
        .recommend_icons a.recommend_android{background-position: -57px center;}
        .recommend_icons a.recommend_like{
          width: auto;
          padding-left: 20px;
          text-indent: 0;
          color: #5b656f;
          background-position: -78px center;}

/******************
@ search page
******************/
.more_items{
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #c0c0c0;
  font-size: 14px;
  margin: 6px 10px 0;
  background: #232323;
  display: block;
  border-radius: 3px;}
  .more_items::after{
    content: '';
    width: 12px;
    height: 12px;
    margin: 0 0 0 3px;
    display: inline-block;
    background: url(../img/arrow_double.png) no-repeat center center;
    background-size: 12px 12px;}
  .more_items .more_loading{display: none;}
  .more_items.loading .more_loading{display: inline;}
  .more_items.loading::after,
  .more_items.loading .more_normal{display: none;}
.search{
  height: 42px;
  line-height: 42px;
  color: #000204;
  padding: 0 20px;
  font-size: 14px;
  background: #fff;}
  a.search_type_a{
    float: right;
    color: #000204;
    display: block;
    padding-right: 15px;
    position: relative;}
    a.search_type_a::after{
      content: '';
      width: 0;
      height: 0;
      top: 50%;
      right: 0;
      margin: -2px 0 0 0;
      position: absolute;
      border-width: 5px;
      border-style: solid;
      border-color: #cf0f32 transparent transparent transparent;}
      a.search_type_a:focus::after{
        margin-top: -8px;
        border-color: transparent transparent #cf0f32 transparent;}
  .search_type{
    padding: 0 20px;
    margin: 0 -20px;
    background: #fff;
    z-index: 3;
    display: none;
    position: relative;}
    a.search_type_a:focus ~ .search_type{display: block;}
    .search_type a{
      display: block;
      color: #000204;
      border-top: 1px solid #f4f4f4;}
      .search_type a.current{
        color: #cf0f32;
        background: url(../img/checkmark_red.png) no-repeat right center;
        background-size: 14px 10px;}
.search_box{
  height: 41px;
  background: #fff;
  margin-top: -42px;
  position: relative;
  z-index: 2;
  display: none;
  border-bottom: 1px solid #ccc;}
  .search_box.show{display: block;}
  .search_box input[type="text"]{
    width: 80%;
    float: left;
    font-size: 14px;
    text-indent: 10px;
    margin: 5px 0 0 2%;
    line-height: 29px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;}
  .search_box input[type="submit"],
  .search_box input[type="button"]{
    width: 16%;
    float: left;
    color: #fff;
    margin-top: 5px;
    line-height: 31px;
    font-size: 14px;
    display: block;
    background: #cf0f32;
    border-radius: 0 4px 4px 0;}
.test{color: #fff;font-size: 16px;}
.comments .test{color: #000;}

/******************
@ video page
******************/
.video_wrap{
  margin: 10px;
  color: #a0a0a0;}
  .video_wrap > *{
    max-width: 100%;
    display: block;}
  .video_wrap h1{
    font-size: 16px;
    margin: 10px 0 5px;}
.share_layer{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  position: fixed;
  display: none;
  background: url(../img/swipe_bg.png) repeat 0 0, url(../img/swipe_bg.png) repeat 0 0;}
  .share_wechat{
    width: 165px;
    height: 121px;
    right: 0;
    display: none;
    position: absolute;
    margin: 10px 15px 0 0;}
  .share_ios{
    width: 214px;
    height: 94px;
    bottom: 0;
    left: 50%;
    margin-left: -118px;
    position: absolute;}

/******************
@ new game detail page
******************/
h1.detail_h1{
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 10px;
  background: #232323;
  font-weight: normal;}
  .detail_h1 span{
    color: #505050;
    font-size: 12px;
    float: right;}
.game_detail_banner{
  max-width: 100%;
  margin: 0 auto;
  display: block;}
.grey_box{
  background: #232323;
  margin: 10px;
  padding: 10px;
  color: #fff;}
  .grey_box::after{
    content: '';
    height: 0;
    display: block;
    clear: both;}
  .grey_box .recommend_corner{
    position: static;
    margin: -6px 0 0 -13px;}
  .grey_box p{
    margin: 5px 0;
    line-height: 18px;}
    p.top_p{
      margin-top: -16px;
      text-indent: 40px;}
  .like_tags{
    color: #515151;
    padding: 5px 0 0;
    text-align: right;}
    .like_tags a{
      line-height: 23px;
      display: inline-block;
      color: #515151;
      margin: 0 3px;}
    .like_tags a.like{
      float: left;
      margin: 0;
      background: url(../img/like_red.png) no-repeat 0 center;
      background-size: 15px 15px;}
  .info_list{margin-right: 84px;}
    .info_list li{
      padding: 5px 0 5px 8px;
      margin: 3px 0 3px 22px;
      background: #2e2e2e;}
      .info_list li::before{
        content: '';
        width: 14px;
        height: 22px;
        display: block;
        float: left;
        margin: -3px 0 0 -30px;
        background: url(../img/plus_substrac.png) no-repeat 0 4px;
        background-size: 14px 34px;}
        .info_list li.subtract::before{background-position: 0 -22px;}
      .grey_box .recommend_icons{
        width: 100%;
        background: #232323;}
        .grey_box .recommend_icons a{margin: 0 0 0 2px;}
    .grey_box .video_wrap{margin: 10px 0;}
    .share_btn{
      line-height: 35px;
      background: #cf0f32;
      color: #fff;
      font-size: 18px;
      display: block;
      border-radius: 17px;
      text-align: center;
      box-shadow: 0 3px 0 #730015;}
      .share_btn::before{
        content: '';
        width: 18px;
        height: 16px;
        display: inline-block;
        margin-right: 6px;
        background: url(../img/share.png) no-repeat center center;
        background-size: 18px 16px;}
    .grey_box h3{
      color: #ffffff;
      font-size: 15px;
      margin: 20px 0 10px;
      padding-left: 10px;
      border-left: 4px solid #cf0f32;}
    .game_info_tb{
      width: 49%;
      float: left;
      color: #515151;
      font-size: 10px;}
      .game_info_tb th{
        text-align: left;
        color: #fff;
        font-size: 12px;}
      .game_info_tb td{
        padding: 5px 0;
        vertical-align: top;}
        .game_info_tb td:first-child{white-space: nowrap;}
        .game_info_tb.left_tb td:last-child{padding-right: 10px;}
      .game_info_tb + .game_info_tb th:first-child,
      .game_info_tb + .game_info_tb td:first-child{
        padding-left: 10px;
        border-left: 1px solid #2c2c2c;}
.download{
  text-align: center;}
  .download a{
    line-height: 33px;
    text-align: center;
    padding: 0 6px 0 29px;
    margin: 2%;
    color: #232323;
    font-size: 15px;
    border-radius: 3px;
    display: inline-block;
    background: #ffcb2d url(../img/download_icons.png) no-repeat 7px center;
    background-size: 257px 18px;
    box-shadow: 0 3px 0 #b28706;}
    .download a.download_ios{background-position: -114px center;}
    .download a.download_android{background-position: -233px center;}
  .black_comment{}
    .black_comment .comment_not_login{border-color: #3e3e3e;box-shadow: none;background: #4f4f4f;}
      .black_comment .comment_not_login a{color: #ffcb2d;}
      .black_comment .comment_not_login textarea{background-color: #4f4f4f;color: #a3a1a1;}
      .black_comment li p{color: #888;}
      .black_comment .reply_a{color: #ffcb2d;}
      .black_comment .reply_box input[type="button"]{background: #ffcb2d;color: #000;}
      .black_comment .reply_box input[type="button"].reply_cancel{background: #bbbbbb;}
      .black_comment .comments_box{background: #272727;}
      .black_comment .comments_box a{color: #ffcb2d;}
      .black_comment .more_comments{color: #999999;background-image: url(../img/apply_arrow_yellow.png);}
        .more_comments .more_loading{display: none;}
        .more_comments.loading .more_loading{display: inline;}
        .more_comments.loading::after,
        .more_comments.loading .more_normal{display: none;}





















