html,body, div, span, form,iframe,
h1, h2, h3, h4, h5, p, em, img, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{font-size: 62.5%;}
body {
  font-family: Helvetica, 'STXihei', 'STHeiti Light', 'Microsoft yahei', sans-serif;
  line-height: 1;
  background-color: #fff;
}


input {
  margin: 0;
  padding: 0;
  /*-webkit-appearance: none;*/
  border-style: none;
}

input {
  outline-style: none;
}

input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-webkit-input-placeholder {
color: #D6D0CA !important; 
}
input:-moz-placeholder {
color: #D6D0CA !important; 
}
input::-moz-placeholder {
color: #D6D0CA !important; 
}
input:-ms-input-placeholder {
color: #D6D0CA !important; 
}
textarea::-webkit-input-placeholder {
color: #000 !important; 
}
textarea:-moz-placeholder {
color: #000 !important; 
}
textarea::-moz-placeholder {
color: #000 !important; 
}
textarea:-ms-input-placeholder {
color: #000 !important; 
}
/*
a:link,
a:visited {
  text-decoration: none;
  color: #555555;
}*/
a {
  text-decoration: none;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: "\0020";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.shadow {
  -webkit-box-shadow: 1px 0px 3px #d9dbdd;
     -moz-box-shadow: 0px 1px 3px #d9dbdd;
          box-shadow: 0px 1px 3px #d9dbdd;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
.display-flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;  
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.scratcher_wrap{
  width: 100%;
  height: 100%;
}
.top_bar{
  height: 50px;
  background: #000204;
  padding:0 18px;
}
.top_bar .logo{
  float: left;
  width: 67px;
  height: 50px;
  background: url(../img/logo.png) no-repeat center center;
  background-size: 67px 50px;
}
.top_bar .menu_btn{
  float: right;
  height: 50px;
  width: 22px;
  background: url(../img/menu_icon.png) no-repeat center center;
  background-size: 22px 16px;
}
.nav_tree{
  height: 43px;
  padding: 0 18px;
}
.nav_text{
  height: 43px;
  line-height: 43px;
  font-size: 1.6rem;
  color: #cf0f32;
}
.nav_child{
  margin-left: 8px;
  padding-left: 14px;
  background: url(../img/nav_icon.png) no-repeat center left;
  background-size: 6px 10px;
  color: #999;
}
footer{
  line-height: 30px;
  text-align: center;
  color: #888888;
  font-size: 10px;
  background: #000;
}

/* 视频列表.start */
.videoList_main{}
.videoList_main .videoList_main_item{
  position: relative;
  width: 50%;
  float: left;
  padding: 15px 0;
}
.videoList_main_image{
  display: block;
  margin: 0 auto;
  width: 93%;
  border-radius: 5px;
}
.videoList_main_img_box:after{
  position: absolute;
  left: 50%;
  top: 50%;
  content: '';
  height: 39px;
  width: 39px;
  background: url(../img/video_play_small.png) no-repeat 0 0;
  background-size: 39px 39px;
  margin-left: -17px;
  margin-top: -21px;
}
.videoList_main_img_box{
  position: relative;
}
.videoList_main_img_box:before{
  position: absolute;
  left: 50%;
  content: '';
  height: 100%;
  width: 100%;
  margin: 0 auto;
  width: 93%;
  background: red;
  margin-left: -47%;
  border-radius: 5px;

  background-color:#000609;
  filter:alpha(opacity=20); 
  -moz-opacity:0.2; 
  opacity:0.2;


}
.videoList_main_txt{
  color: #222;
  font-size: 1.4rem;
  line-height: 1.5rem;
  padding: 0 4%;
  margin: 6px 0;
}
/* 视频列表.end */
