
.news_main{
	padding: 0 8px;
	background: #fff;
}
.nav_tree{
	height: 43px;
	padding: 0 18px;
}
.nav_text{
	height: 43px;
	line-height: 43px;
	font-size: 1.6rem;
	color: #cf0f32;
}
.nav_child{
	margin-left: 8px;
	padding-left: 14px;
	background: url(../img/nav_icon.png) no-repeat center left;
	background-size: 6px 10px;
	color: #999;
}