.top_bar{
	height: 50px;
	width: 100%;
	background: #000204;
}
.top_bar .logo{
	float: left;
	width: 67px;
	height: 50px;
	background: url(../img/logo.png) no-repeat center center;
	background-size: 67px 50px;
	margin-left: 18px;
}
.top_bar .menu_btn{
	float: right;
	height: 50px;
	width: 22px;
	background: url(../img/menu_icon.png) no-repeat center center;
	background-size: 22px 16px;
	margin-right: 18px;
}