.video_detail{position: relative;display: block;}
.video_detail img{width: 100%;display: block;}
.video_play{width: 53px;height: 53px;display: block;background: url(../img/video_play.png) no-repeat center center;background-size: 100% 100%;position: absolute;top: 50%;left: 50%;margin: -26px 0 0 -26px;}
.duration{line-height: 22px;position: absolute;bottom: 0;right: 0;padding: 0 6px;color: #fff;background: url(../img/black_bg.png) repeat 0 0;}
.video_article{padding: 10px;}
.video_article > h1{font-size: 18px;color: #222222;line-height: 27px;}
.subtitle{font-size: 12px;color: #a0a0a0;display: block;}
.comment{padding: 10px;}
.comment_title{font-size: 18px;color: #000000;border-left: 5px solid #cf0f32;margin: 0 0 15px -10px;text-indent: 7px;}
.comment_btn{width: 90px;float: right;line-height: 64px;background: #000;color: #fff;text-align: center;font-size: 18px;}
.comment_not_login{height: 52px;display: block;margin-right: 90px;border: 1px solid #acacac;border-right: none;border-radius: 5px 0 0 5px;box-shadow: 0 0 2px #acacac inset;text-align: center;line-height: 52px;font-size: 16px;color: #9b9b9b;padding: 5px;}
.comment_not_login textarea{border: none;width: 100%;padding: 0;height: 100%;resize: none;border-radius: 5px;}
.comment_not_login a{color: #cf0f32;}
.comments{}
.logged_avatar{width: 30px;border-radius: 50%;float: left;}
.logged_username{margin: 0 90px 5px 40px;line-height: 30px;display: block;color: #0e0e0e;font-size: 14px;}
.logout{float: right;line-height: 30px;color: #999999;font-size: 14px;}
.comments li{padding: 10px 0 10px 40px;border-bottom: 1px solid #e5e5e5;}
.avatar{width: 30px;height: 30px;float: left;margin-left: -40px;display: block;border-radius: 50%;}
.username{color: #888888;font-size: 14px;line-height: 26px;}
.comment li p{color: #222222;font-size: 14px;line-height: 20px;}
.like{float: right;line-height: 15px;background: url(../img/like.png) no-repeat 0 center;background-size: 15px auto;padding: 3px 0 0 20px;line-height: 20px;display: block;font-size: 12px;color: #999;}
.comment_date{padding: 3px 0 0 0;color: #999;font-size: 12px;display: block;line-height: 20px;}
.count_all{float: right;color: #02070a;font-size: 12px;line-height: 32px;margin-right: 10px;}
.pgn{overflow: hidden;margin: 0 0 10px 10px;}
.pgn > *{min-width: 30px;display: block;float: left;line-height: 30px;text-align: center;border: 1px solid #fff;}
.pgn a{border-color: #dbdbdb;color: #02070a;}
.pgn a + a{border-left: none;}
.pgn a.prev,
.pgn a.next{border-color: #fff;text-indent: -99999px;background: url(../img/nav_icon.png) no-repeat center center;background-size: 6px 10px;}
.pgn a.prev{background-image: url(../img/nav_icon_left.png);}
.pgn a.next{background-position: 5px center;}
.pgn strong{border-color: #000;background: #000;color: #fff;}
.pgn strong + a{border-left: none;}

.game_detail_tabs{padding: 0 10px;}
.game_detail_tabs a{text-align: center;font-size: 15px;white-space: nowrap;display: inline-block;color: #000204;border-bottom: 3px solid #000204;line-height: 38px;position: relative;}
.game_detail_tabs a:first-child{flex: 0.65;}
.game_detail_tabs a:first-child + a{flex: 1.35;}
.game_detail_tabs a:focus{border-bottom-color: #cf0f32;}
.game_detail_tabs a::before{content: '';width: 1px;height: 20px;background: #c9c9c9;position: absolute;left: 0;margin-top: 8px;}
.game_detail_tabs a:first-child::before{display: none;}
.game_detail_text{color: #555555;font-size: 14px;line-height: 22px;padding: 0 10px;}
.game_detail_text p{margin: 10px 0;text-indent: 24px;}
.game_detail_text img{max-width: 100%;display: block;margin: 10px auto;}
.game_detail_text .comment_title{margin: 15px 0 10px -10px;}
.game_detail_img li:first-child + li{padding: 0 5px;}
.game_detail_img li img{width: 100%;}


/*游戏*/
.game_list_item{
  margin: 0 10px 10px 10px;
}
.game_list_item{
  background: #000204;
}
.game_list_img{
  width: 100%;
}
.game_list_title{
  padding: 11px 15px;
  font-size: 1.8rem;
  color: #fff;
}
.game_list_tag{
  padding: 0 15px;
}
.game_list_tag a{
  padding: 3px 6px;
  font-size:1.3rem;
  color: #fff;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 3px;
  margin: 3px;

}
.game_list_item_bo{
  color: #fff;
  height: 48px;
  line-height: 48px;
  font-size: 1.5rem;
  padding-right: 10px;
}
.game_list_tag_price{
  font-size: 3rem;
  float: left!important;
  color: #eb173e;
  margin-left: 15px;
}
.game_list_item_bo span{
  /*display: inline-block;*/
  float: right;
}
.game_list_tag_zan{
  padding-left: 25px;
  background: url(../img/game_list_icon.png) no-repeat 6px 17px;
  background-size: 20px 60px;
}
.game_list_tag_wx{
  padding-left: 25px;
  background: url(../img/game_list_icon.png) no-repeat 4px -28px;
  background-size: 20px 60px;
}
